




<p> 
  
    <table>
      <tr>
        
        <th>Crap You Should Read</th>
      </tr>
      <% @url.each do |url|%>
      <tr>
       
	   <td> <%=link_to url.link, url.link %> <br \> </td>
    
      </tr>
      <% end %>
    </table>
</p>



<FORM METHOD="LINK" ACTION="/urls/new">
<INPUT TYPE="submit" VALUE="Creare some new crap" class="btn primary">
</FORM>
