
<p>   
    <table>
      <tr>
        
        <th>Crap You Should Read</th>
		<th>Submitted By</th>
      </tr>
      <% @url.each do |url|%>
      <tr>
       
	   <td> <%=link_to url.link, url.link  %> <br \> </td>
					<% if url.user.nil?%>
						<td> Anonymous Poster<br\ > </td>
					<% else %>
	   				<td> <%= url.user.name.inspect %> <br\ > </td>
    			<% end %>

      </tr>
	
      <% end %>
    </table>
</p>

<FORM METHOD="LINK" ACTION="/urls/new">
<INPUT TYPE="submit" VALUE="Create some new crap" class="btn primary">
</FORM>




